# Analysis of the Hollywood movie data with the corresponding population (Northern America)

In [1]:
%matplotlib inline
import os
import pandas as pd
import requests
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
DATA_FOLDER = './preprocessed_data1/'

HOLLYWOOD_DATA = DATA_FOLDER + "hollywood_data.csv"
HOLLYWOOD_DATA_ETHNICITY = DATA_FOLDER + "hollywood_data_ethnicity.csv"
HOLLYWOOD_ETHNIC_REALWORLD = DATA_FOLDER + "hollywood_ethnic_realworld.csv"
MALE_HOLLYWOOD_REALWORLD_AVERAGES = DATA_FOLDER + "male_hollywood_realworld_averages.csv"
FEMALE_HOLLYWOOD_REALWORLD_AVERAGES = DATA_FOLDER + "female_hollywood_realworld_averages.csv"
BOTHSEXES_HOLLYWOOD_REALWORLD_AVERAGES = DATA_FOLDER + "bothsexes_hollywood_realworld_averages.csv"
MALE_HOLLYWOOD_REALWORLD_PROPORTIONS = DATA_FOLDER + "male_hollywood_realworld_proportions.csv"
FEMALE_HOLLYWOOD_REALWORLD_PROPORTIONS = DATA_FOLDER + "female_hollywood_realworld_proportions.csv"

# Charger les datasets dans des DataFrames
hollywood_data = pd.read_csv(HOLLYWOOD_DATA)
hollywood_data_ethnicity = pd.read_csv(HOLLYWOOD_DATA_ETHNICITY)
hollywood_ethnic_realworld = pd.read_csv(HOLLYWOOD_ETHNIC_REALWORLD)
male_hollywood_realworld_averages = pd.read_csv(MALE_HOLLYWOOD_REALWORLD_AVERAGES)
female_hollywood_realworld_averages = pd.read_csv(FEMALE_HOLLYWOOD_REALWORLD_AVERAGES)
bothsexes_hollywood_realworld_averages = pd.read_csv(BOTHSEXES_HOLLYWOOD_REALWORLD_AVERAGES)
male_hollywood_realworld_proportions = pd.read_csv(MALE_HOLLYWOOD_REALWORLD_PROPORTIONS)
female_hollywood_realworld_proportions = pd.read_csv(FEMALE_HOLLYWOOD_REALWORLD_PROPORTIONS)

In [3]:
hollywood_data.head()

,wiki_movie_id,free_movie_id_x,release_x,actor_gender,actor_name,age_at_release,actor_birth_year,actor_ethnicity_label,movie_name,release_y,box_office,countries_label,genres_label,main_genre,actor_ethnicity_classification
0,975900,/m/03vyhn,2001.0,F,Wanda De Jesus,42.0,1958.0,Unknown,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,NaN
1,975900,/m/03vyhn,2001.0,F,Natasha Henstridge,27.0,1974.0,Unknown,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,NaN
2,975900,/m/03vyhn,2001.0,M,Ice Cube,32.0,1969.0,African Americans,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,African Americans
3,975900,/m/03vyhn,2001.0,M,Jason Statham,33.0,1967.0,Unknown,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,NaN
4,975900,/m/03vyhn,2001.0,F,Clea DuVall,23.0,1977.0,Unknown,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,NaN

In [4]:
hollywood_data_ethnicity.head()

,wiki_movie_id,free_movie_id_x,release_x,actor_gender,actor_name,age_at_release,actor_birth_year,actor_ethnicity_label,movie_name,release_y,box_office,countries_label,genres_label,main_genre,actor_ethnicity_classification
0,975900,/m/03vyhn,2001.0,M,Ice Cube,32.0,1969.0,African Americans,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,African Americans
1,975900,/m/03vyhn,2001.0,F,Pam Grier,52.0,1949.0,African Americans,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,African Americans
2,975900,/m/03vyhn,2001.0,M,Rodney A. Grant,42.0,1959.0,Omaha Tribe of Nebraska,Ghosts of Mars,2001.0,14010832.0,United States of America,"Thriller, Science Fiction, Horror, Adventure, ...",Action/Adventure,American Indians
3,3196793,/m/08yl5d,2000.0,M,Albert Hall,62.0,1937.0,African Americans,Getting Away with Murder: The JonBenét Ramsey ...,2000.0,10809846.5,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Drama,African Americans
4,2314463,/m/0734w5,2006.0,M,Seth Green,31.0,1974.0,Jewish people,Electric Apricot: Quest For Festeroo,2006.0,10809846.5,United States of America,"Parody, Mockumentary, Comedy",Comedy,Jewish Americans

In [5]:
hollywood_ethnic_realworld

   new_period    from to                group    size
0   1950-1965  1946-1965    African Americans  0.1240
1   1950-1965  1946-1965     American Indians  0.0078
2   1950-1965  1946-1965       Arab Americans  0.0000
3   1950-1965  1946-1965      Asian Americans  0.0000
4   1950-1965  1946-1965  Caucasian Americans  0.6910
5   1950-1965  1946-1965     Jewish Americans  0.0330
6   1950-1965  1946-1965     Latino Americans  0.0000
7   1966-1980  1966-2008    African Americans  0.1240
8   1966-1980  1966-2008     American Indians  0.0078
9   1966-1980  1966-2008       Arab Americans  0.0042
10  1966-1980  1966-2008      Asian Americans  0.0360
11  1966-1980  1966-2008  Caucasian Americans  0.6910
12  1966-1980  1966-2008     Jewish Americans  0.0330
13  1966-1980  1966-2008     Latino Americans  0.1250
14  1981-1995  1966-2008    African Americans  0.1240
15  1981-1995  1966-2008     American Indians  0.0078
16  1981-1995  1966-2008       Arab Americans  0.0042
17  1981-1995  1966-2008      Asian Americans  0.0360
18  1981-1995  1966-2008  Caucasian Americans  0.6910
19  1981-1995  1966-2008     Jewish Americans  0.0330
20  1981-1995  1966-2008     Latino Americans  0.1250
21  1996-2012  2009-2014    African Americans  0.1240
22  1996-2012  2009-2014     American Indians  0.0078
23  1996-2012  2009-2014       Arab Americans  0.0050
24  1996-2012  2009-2014      Asian Americans  0.0440
25  1996-2012  2009-2014  Caucasian Americans  0.6600
26  1996-2012  2009-2014     Jewish Americans  0.0240
27  1996-2012  2009-2014     Latino Americans  0.1500

In [6]:
male_hollywood_realworld_averages

,Time Period,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,1950-1965,10936.19,9839.38,8445.69,7080.50,6275.75,6327.38,6523.62,6493.50,6172.06,...,4328.12,3634.50,2916.25,2126.88,1333.75,679.88,269.88,79.00,13.94,1.31
1,1966-1980,9909.87,10661.27,11370.73,11290.93,10236.13,8869.53,7613.00,6711.80,6474.40,...,5509.40,4640.60,3678.00,2694.47,1787.67,1017.13,447.27,146.40,32.27,3.60
2,1981-1995,10666.87,10000.00,9963.27,10509.53,11589.60,12180.80,12018.13,10875.07,9171.47,...,5947.00,5532.53,4762.67,3689.53,2496.40,1435.40,648.60,214.93,46.87,6.20
3,1996-2012,11078.24,11244.18,11548.82,11915.12,11827.41,11694.76,11792.00,12268.88,12480.65,...,8895.82,7130.65,5601.35,4452.29,3420.82,2252.82,1128.41,376.06,74.41,8.00

In [7]:
female_hollywood_realworld_averages

,Time Period,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,1950-1965,10616.50,9623.00,8271.62,7070.75,6453.69,6508.69,6734.00,6730.50,6361.88,...,4530.12,3907.06,3258.62,2498.94,1655.06,915.31,402.69,130.69,26.94,3.25
1,1966-1980,9503.20,10281.13,11033.07,11132.13,10359.33,9071.80,7778.93,6913.27,6729.27,...,6058.33,5313.67,4522.00,3646.93,2691.20,1704.67,840.87,300.67,72.47,9.67
2,1981-1995,10184.80,9528.67,9443.07,9944.93,11083.13,11843.27,11833.80,10832.33,9258.00,...,6437.07,6274.27,5796.53,4949.13,3851.93,2662.20,1491.27,612.80,169.60,29.00
3,1996-2012,10569.88,10682.35,10888.59,11133.35,11038.88,11004.82,11222.12,11815.65,12218.29,...,9258.29,7611.94,6259.76,5379.59,4621.47,3573.06,2233.06,990.59,278.06,45.12

In [8]:
bothsexes_hollywood_realworld_averages

,Time Period,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,1950-1965,21552.62,19462.12,16717.50,14151.12,12729.31,12836.12,13257.75,13223.69,12533.94,...,8857.62,7541.75,6175.00,4626.12,2988.62,1595.19,672.69,209.50,40.75,4.56
1,1966-1980,19413.07,20942.53,22403.67,22423.27,20595.67,17941.13,15392.20,13625.20,13203.40,...,11567.80,9954.27,8199.93,6341.73,4478.87,2722.07,1288.07,447.07,104.67,13.47
2,1981-1995,20852.27,19528.53,19406.00,20454.67,22672.80,24024.00,23851.67,21707.53,18429.73,...,12384.13,11805.80,10559.53,8639.07,6348.47,4097.47,2139.60,827.67,216.33,35.40
3,1996-2012,21648.47,21926.06,22437.65,23048.88,22866.65,22699.76,23013.88,24084.76,24698.94,...,18154.76,14742.47,11861.06,9832.12,8042.41,5825.71,3361.24,1366.47,352.53,53.06

In [18]:
male_hollywood_realworld_proportions.index

,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
Time Period,,,,,,,,,,,,,,,,,,,,,
1950-1965,0.507418,0.505566,0.505201,0.500349,0.493016,0.492936,0.492061,0.491051,0.492428,0.494229,...,0.488632,0.481917,0.472267,0.459755,0.446276,0.426206,0.401195,0.377088,0.342086,0.287281
1966-1980,0.510474,0.509073,0.507539,0.503536,0.497004,0.494369,0.494601,0.492602,0.490359,0.486060,...,0.476270,0.466192,0.448540,0.424879,0.399134,0.373660,0.347240,0.327465,0.308302,0.267261
1981-1995,0.511545,0.512071,0.513412,0.513796,0.511168,0.507026,0.503870,0.500981,0.497645,0.493851,...,0.480211,0.468628,0.451030,0.427075,0.393229,0.350314,0.303141,0.259681,0.216660,0.175141
1996-2012,0.511733,0.512823,0.514707,0.516950,0.517234,0.515193,0.512386,0.509404,0.505311,0.500840,...,0.489999,0.483681,0.472247,0.452831,0.425348,0.386703,0.335712,0.275205,0.211074,0.150773

In [10]:
female_hollywood_realworld_proportions.index

RangeIndex(start=0, stop=4, step=1)

# Plots

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact

# Exemple de données fictives
# Population générale
population_data = {
    "Ethnicity": ["African American", "American Indian", "Arab", "Asian", "Latino", "Jewish", "Caucasian"],
    "Proportion": [13.4, 1.3, 0.6, 5.9, 18.5, 2.0, 58.3]
}

# Acteurs de films (fictifs, ajustez selon vos données)
actors_data = {
    "Ethnicity": ["African American", "American Indian", "Arab", "Asian", "Latino", "Jewish", "Caucasian"],
    "Proportion": [10.0, 0.5, 1.2, 6.8, 12.3, 1.5, 67.7]
}

# Convertir les données en DataFrames
population_df = pd.DataFrame(population_data)
actors_df = pd.DataFrame(actors_data)

# Fonction pour afficher le graphique interactif
def plot_ethnicity_comparison(genre="All", start_year=1950, end_year=2022):
    # Filtrer les données des acteurs selon le genre et la période (à ajuster avec vos colonnes réelles)
    filtered_actors_df = actors_df  # Remplacez par vos données filtrées selon genre et période
    
    # Préparer les données pour le graphique
    ethnicities = population_df["Ethnicity"]
    population_proportions = population_df["Proportion"]
    actor_proportions = filtered_actors_df["Proportion"]
    
    # Configuration du graphique
    fig, ax = plt.subplots(figsize=(10, 6))
    
    bar_width = 0.4
    x = range(len(ethnicities))
    
    # Histogramme de gauche pour la population générale
    ax.barh(
        x, 
        population_proportions, 
        height=bar_width, 
        color='skyblue', 
        label='Population générale', 
        align='center'
    )
    
    # Histogramme de droite pour les acteurs
    ax.barh(
        x, 
        [-p for p in actor_proportions],  # Négatif pour afficher à droite
        height=bar_width, 
        color='salmon', 
        label='Acteurs de films', 
        align='center'
    )
    
    # Ajouter des annotations
    for i, (pop, act) in enumerate(zip(population_proportions, actor_proportions)):
        ax.text(pop + 1, i, f'{pop}%', va='center', ha='left', color='blue')
        ax.text(-act - 1, i, f'{act}%', va='center', ha='right', color='red')
    
    # Configurer les axes
    ax.set_yticks(x)
    ax.set_yticklabels(ethnicities)
    ax.axvline(0, color='black', linewidth=0.8)  # Ligne centrale
    ax.set_xlabel("Proportion (%)")
    ax.set_title(f"Comparaison des proportions d'ethnicités (Genre: {genre}, Période: {start_year}-{end_year})")
    ax.legend(loc='upper center')
    
    plt.tight_layout()
    plt.show()

# Créer un widget interactif
interact(
    plot_ethnicity_comparison,
    genre=["All", "Action", "Drama", "Comedy", "Thriller"],  # Liste des genres possibles
    start_year=(1950, 2022, 1),  # Slider pour l'année de début
    end_year=(1950, 2022, 1)     # Slider pour l'année de fin
)

interactive(children=(Dropdown(description='genre', options=('All', 'Action', 'Drama', 'Comedy', 'Thriller'), …

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact

# Function to calculate proportions of actor ethnicities
def calculate_actor_ethnicities(df, period, genre):
    # Filter by period
    if period != "All":
        start_year, end_year = map(int, period.split('-'))
        df = df[df['release_y'].between(start_year, end_year)]
    
    # Filter by genre
    if genre != "All":
        df = df[df['main_genre'] == genre]
    
    # Calculate proportions
    ethnicity_counts = df['actor_ethnicity_classification'].value_counts(normalize=True)
    return ethnicity_counts.reindex(ethnicities, fill_value=0)

# Function to plot the comparison graph
def plot_ethnicity_comparison(period="All", genre="All"):
    # Get population proportions for the selected period
    if period == "All":
        population_ethnicities = hollywood_ethnic_realworld.groupby('group')['size'].mean()
    else:
        population_ethnicities = hollywood_ethnic_realworld[
            hollywood_ethnic_realworld['new_period'] == period
        ].set_index('group')['size']
    
    # Get actor proportions for the selected period and genre
    actor_ethnicities = calculate_actor_ethnicities(hollywood_data_ethnicity, period, genre)

    # Prepare data for the graph
    left_values = population_ethnicities.values * 100  # Convert to percentages
    right_values = actor_ethnicities.values * 100
    ethnicities_labels = population_ethnicities.index

    # Create the graph
    fig, ax = plt.subplots(figsize=(12, 8))
    
    bar_width = 0.4
    y_positions = range(len(ethnicities_labels))

    # Left bar for population
    ax.barh(
        y_positions, 
        left_values, 
        height=bar_width, 
        color='skyblue', 
        label="Population générale", 
        align='center'
    )

    # Right bar for actors
    ax.barh(
        y_positions, 
        -right_values,  # Negative for right side
        height=bar_width, 
        color='orange', 
        label="Acteurs de films", 
        align='center'
    )

    # Add annotations
    for i, (left, right) in enumerate(zip(left_values, right_values)):
        ax.text(left + 0.5, i, f"{left:.1f}%", va='center', ha='left', color='blue')
        ax.text(-right - 0.5, i, f"{right:.1f}%", va='center', ha='right', color='red')

    # Configure graph
    ax.axvline(0, color='black', linewidth=0.8)  # Central line
    ax.set_yticks(y_positions)
    ax.set_yticklabels(ethnicities_labels)
    ax.set_xlabel("Proportion (%)")
    ax.set_title(f"Comparaison des proportions d'ethnicités (Période: {period}, Genre: {genre})")
    ax.legend(loc='upper center')

    plt.tight_layout()
    plt.show()

# Ethnicities list
ethnicities = [
    "African Americans", 
    "American Indians", 
    "Arab Americans", 
    "Asian Americans", 
    "Caucasian Americans", 
    "Jewish Americans", 
    "Latino Americans"
]

# Interactive widget for the graph
interact(
    plot_ethnicity_comparison,
    period=["All", "1950-1965", "1966-1980", "1981-1995", "1996-2012"],  # Time periods
    genre=["All", "Action/Adventure", "Drama", "Comedy", "Thriller/Suspense", 
           "Horror", "Science Fiction (Sci-Fi)", "Fantasy", "Romance", 
           "Documentary", "Animation/Family"]  # Genres
)

interactive(children=(Dropdown(description='period', options=('All', '1950-1965', '1966-1980', '1981-1995', '1…

In [13]:
# avec la moyenne ponderee 

import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact

# Fonction pour calculer les proportions d'ethnicités par film
def calculate_weighted_actor_ethnicities(df, period, genre):
    # Filtrer par période
    if period != "All":
        start_year, end_year = map(int, period.split('-'))
        df = df[df['release_y'].between(start_year, end_year)]
    
    # Filtrer par genre
    if genre != "All":
        df = df[df['main_genre'] == genre]
    
    # Calculer la taille du casting pour chaque film
    df['casting_size'] = df.groupby('wiki_movie_id')['wiki_movie_id'].transform('count')
    
    # Calculer les proportions d'ethnicités pour chaque film
    film_ethnicities = df.groupby(['wiki_movie_id', 'actor_ethnicity_classification']).size().unstack(fill_value=0)
    film_ethnicities = film_ethnicities.div(film_ethnicities.sum(axis=1), axis=0)  # Proportions par film
    
    # Ajouter la taille du casting
    film_ethnicities['casting_size'] = df.groupby('wiki_movie_id')['casting_size'].first()

    # Moyenne pondérée des proportions
    weighted_ethnicities = film_ethnicities.drop(columns='casting_size').multiply(film_ethnicities['casting_size'], axis=0).sum() / film_ethnicities['casting_size'].sum()
    
    # Remplir les valeurs manquantes avec 0 pour les ethnicités non représentées
    weighted_ethnicities = weighted_ethnicities.reindex(ethnicities, fill_value=0)
    
    return weighted_ethnicities

# Fonction pour afficher le graphe
def plot_ethnicity_comparison(period="All", genre="All"):
    # Obtenir les proportions de la population réelle pour la période sélectionnée
    if period == "All":
        population_ethnicities = hollywood_ethnic_realworld.groupby('group')['size'].mean()
    else:
        population_ethnicities = hollywood_ethnic_realworld[
            hollywood_ethnic_realworld['new_period'] == period
        ].set_index('group')['size']
    
    # Obtenir les proportions des acteurs pour la période et le genre sélectionnés
    actor_ethnicities = calculate_weighted_actor_ethnicities(hollywood_data_ethnicity, period, genre)

    # Préparer les données pour le graphe
    left_values = population_ethnicities.values * 100  # Convertir en pourcentages
    right_values = actor_ethnicities.values * 100
    ethnicities_labels = population_ethnicities.index

    # Créer le graphique
    fig, ax = plt.subplots(figsize=(12, 8))
    
    bar_width = 0.4
    y_positions = range(len(ethnicities_labels))

    # Barres pour la population générale (gauche)
    ax.barh(
        y_positions, 
        left_values, 
        height=bar_width, 
        color='skyblue', 
        label="Population générale", 
        align='center'
    )

    # Barres pour les acteurs (droite)
    ax.barh(
        y_positions, 
        -right_values,  # Négatif pour les afficher à droite
        height=bar_width, 
        color='orange', 
        label="Acteurs de films (moyenne pondérée)", 
        align='center'
    )

    # Ajouter des annotations
    for i, (left, right) in enumerate(zip(left_values, right_values)):
        ax.text(left + 0.5, i, f"{left:.1f}%", va='center', ha='left', color='blue')
        ax.text(-right - 0.5, i, f"{right:.1f}%", va='center', ha='right', color='red')

    # Configurer le graphique
    ax.axvline(0, color='black', linewidth=0.8)  # Ligne centrale
    ax.set_yticks(y_positions)
    ax.set_yticklabels(ethnicities_labels)
    ax.set_xlabel("Proportion (%)")
    ax.set_title(f"Comparaison des proportions d'ethnicités (Période: {period}, Genre: {genre})")
    ax.legend(loc='upper center')

    plt.tight_layout()
    plt.show()

# Liste des ethnicités
ethnicities = [
    "African Americans", 
    "American Indians", 
    "Arab Americans", 
    "Asian Americans", 
    "Caucasian Americans", 
    "Jewish Americans", 
    "Latino Americans"
]

# Interactif
interact(
    plot_ethnicity_comparison,
    period=["All", "1950-1965", "1966-1980", "1981-1995", "1996-2012"],  # Périodes temporelles
    genre=["All", "Action/Adventure", "Drama", "Comedy", "Thriller/Suspense", 
           "Horror", "Science Fiction (Sci-Fi)", "Fantasy", "Romance", 
           "Documentary", "Animation/Family"]  # Genres
)

interactive(children=(Dropdown(description='period', options=('All', '1950-1965', '1966-1980', '1981-1995', '1…

In [16]:
print(male_hollywood_realworld_proportions.dtypes)
print(female_hollywood_realworld_proportions.dtypes)
print(hollywood_data.dtypes)

Time Period     object
0-4            float64
5-9            float64
10-14          float64
15-19          float64
20-24          float64
25-29          float64
30-34          float64
35-39          float64
40-44          float64
45-49          float64
50-54          float64
55-59          float64
60-64          float64
65-69          float64
70-74          float64
75-79          float64
80-84          float64
85-89          float64
90-94          float64
95-99          float64
100+           float64
dtype: object
Time Period     object
0-4            float64
5-9            float64
10-14          float64
15-19          float64
20-24          float64
25-29          float64
30-34          float64
35-39          float64
40-44          float64
45-49          float64
50-54          float64
55-59          float64
60-64          float64
65-69          float64
70-74          float64
75-79          float64
80-84          float64
85-89          float64
90-94          float64
95-99          float64
100+           float64
dtype: object
wiki_movie_id                       int64
free_movie_id_x                    object
release_x                         float64
actor_gender                       object
actor_name                         object
age_at_release                    float64
actor_birth_year                  float64
actor_ethnicity_label              object
movie_name                         object
release_y                         float64
box_office                        float64
countries_label                    object
genres_label                       object
main_genre                         object
actor_ethnicity_classification     object
dtype: object

In [17]:
# Ensure Time Period is the index for real-world proportions
male_hollywood_realworld_proportions.set_index('Time Period', inplace=True)
female_hollywood_realworld_proportions.set_index('Time Period', inplace=True)

# Ensure release_y is an integer for hollywood_data
hollywood_data['release_y'] = hollywood_data['release_y'].astype(int)

# Function to calculate gender proportions
def calculate_gender_proportions(df, period, genres):
    # Filter by period
    if period != "All":
        start_year, end_year = map(int, period.split('-'))
        df = df[df['release_y'].between(start_year, end_year)]
    
    # Filter by genres
    if genres != "All":
        df = df[df['main_genre'].isin(genres)]
    
    # Make a copy to avoid SettingWithCopyWarning
    df = df.copy()

    # Calculate casting size
    df['casting_size'] = df.groupby('wiki_movie_id')['wiki_movie_id'].transform('count')
    
    # Calculate gender proportions per film
    gender_counts = df.groupby(['wiki_movie_id', 'actor_gender']).size().unstack(fill_value=0)
    gender_proportions = gender_counts.div(gender_counts.sum(axis=1), axis=0)
    
    # Add casting size
    gender_proportions['casting_size'] = df.groupby('wiki_movie_id')['casting_size'].first()

    # Weighted mean proportions
    weighted_proportions = gender_proportions.drop(columns='casting_size').multiply(
        gender_proportions['casting_size'], axis=0).sum() / gender_proportions['casting_size'].sum()
    
    # Return male and female proportions
    male_proportion = weighted_proportions.get('M', 0)  # Default to 0 if not found
    female_proportion = weighted_proportions.get('F', 0)  # Default to 0 if not found
    return male_proportion, female_proportion

# Function to plot gender proportions
def plot_gender_proportions(period="All", genres=["All"]):
    # List of genres
    genre_categories = genres if genres != ["All"] else hollywood_data['main_genre'].unique()

    # Prepare data for each genre
    proportions = []
    for genre in genre_categories:
        male, female = calculate_gender_proportions(hollywood_data, period, [genre])
        proportions.append({"category": genre, "male": male, "female": female})

    # Add real-world population proportions
    if period == "All":
        male_population = male_hollywood_realworld_proportions.mean(axis=1).mean()
        female_population = female_hollywood_realworld_proportions.mean(axis=1).mean()
    else:
        male_population = male_hollywood_realworld_proportions.loc[period].mean()
        female_population = female_hollywood_realworld_proportions.loc[period].mean()
    
    proportions.append({"category": "Population réelle", "male": male_population, "female": female_population})

    # Create DataFrame for the graph
    proportions_df = pd.DataFrame(proportions)

    # Create the graph
    fig, ax = plt.subplots(figsize=(12, 6))

    # Stacked bars
    ax.bar(
        proportions_df['category'], 
        proportions_df['male'], 
        color='skyblue', 
        label='Hommes'
    )
    ax.bar(
        proportions_df['category'], 
        proportions_df['female'], 
        bottom=proportions_df['male'], 
        color='salmon', 
        label='Femmes'
    )

    # Configure the graph
    ax.set_title(f"Proportions Hommes/Femmes par Catégorie (Période: {period})")
    ax.set_ylabel("Proportion")
    ax.set_xticks(range(len(proportions_df['category'])))
    ax.set_xticklabels(proportions_df['category'], rotation=45, ha='right')
    ax.legend()

    plt.tight_layout()
    plt.show()

In [30]:
# Fonction pour calculer les proportions homme/femme par genre et population réelle
def calculate_gender_proportions(df, period, genres):
    # Filtrer par période
    if period != "All":
        start_year, end_year = map(int, period.split('-'))
        df = df[df['release_y'].between(start_year, end_year)]
    
    # Filtrer par genres
    if genres != "All":
        df = df[df['main_genre'].isin(genres)]
    
    # Calculer la taille du casting par film
    df = df.copy()  # Éviter le SettingWithCopyWarning
    df['casting_size'] = df.groupby('wiki_movie_id')['wiki_movie_id'].transform('count')
    
    # Calculer les proportions homme/femme par film
    gender_counts = df.groupby(['wiki_movie_id', 'actor_gender']).size().unstack(fill_value=0)
    gender_proportions = gender_counts.div(gender_counts.sum(axis=1), axis=0)
    
    # Ajouter la taille du casting
    gender_proportions['casting_size'] = df.groupby('wiki_movie_id')['casting_size'].first()

    # Moyennes pondérées des proportions
    weighted_proportions = gender_proportions.drop(columns='casting_size').multiply(
        gender_proportions['casting_size'], axis=0).sum() / gender_proportions['casting_size'].sum()
    
    # Retourner les proportions homme et femme
    male_proportion = weighted_proportions.get('M', 0)  # Retourne 0 si "M" n'existe pas
    female_proportion = weighted_proportions.get('F', 0)  # Retourne 0 si "F" n'existe pas
    return male_proportion, female_proportion

# Fonction pour afficher le graphe
def plot_gender_proportions(period="All", genres=["All"]):
    # Liste des genres
    genre_categories = genres if genres != ["All"] else hollywood_data['main_genre'].unique()

    # Préparer les données pour chaque genre
    proportions = []
    for genre in genre_categories:
        male, female = calculate_gender_proportions(hollywood_data, period, [genre])
        proportions.append({"category": genre, "male": male, "female": female})

    # Ajouter les proportions de la population réelle
    if period == "All":
        male_population = male_hollywood_realworld_proportions.mean(axis=1).mean()
        female_population = female_hollywood_realworld_proportions.mean(axis=1).mean()
    else:
        male_population = male_hollywood_realworld_proportions.loc[period].mean()
        female_population = female_hollywood_realworld_proportions.loc[period].mean()
    
    proportions.append({"category": "Population réelle", "male": male_population, "female": female_population})

    # Créer le DataFrame pour le graphe
    proportions_df = pd.DataFrame(proportions)

    # Créer le graphique
    fig, ax = plt.subplots(figsize=(12, 6))

    # Barres empilées
    ax.bar(
        proportions_df['category'], 
        proportions_df['male'], 
        color='skyblue', 
        label='Hommes'
    )
    ax.bar(
        proportions_df['category'], 
        proportions_df['female'], 
        bottom=proportions_df['male'], 
        color='orange', 
        label='Femmes'
    )

    # Configurer le graphique
    ax.set_title(f"Proportions Hommes/Femmes par Catégorie (Période: {period})")
    ax.set_ylabel("Proportion")
    ax.set_xticks(range(len(proportions_df['category'])))
    ax.set_xticklabels(proportions_df['category'], rotation=45, ha='right')
    ax.legend()

    plt.tight_layout()
    plt.show()



# Genres disponibles
genres_list = [
    "All", "Action/Adventure", "Drama", "Comedy", "Thriller/Suspense", 
    "Horror", "Science Fiction (Sci-Fi)", "Fantasy", "Romance", 
    "Documentary", "Animation/Family"
]

# Interactif
interact(
    plot_gender_proportions,
    period=["All", "1950-1965", "1966-1980", "1981-1995", "1996-2012"],  # Périodes temporelles
    genres=[genres_list]  # Genres
)

interactive(children=(Dropdown(description='period', options=('All', '1950-1965', '1966-1980', '1981-1995', '1…

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact

# Fonction pour calculer la distribution des âges des acteurs
def calculate_actor_age_distribution(df, period, genres, gender):
    # Filtrer par période
    if period != "All":
        start_year, end_year = map(int, period.split('-'))
        df = df[df['release_x'].between(start_year, end_year)]
    
    # Filtrer par genres
    if genres != "All":
        df = df[df['main_genre'] == genres]
    
    # Filtrer par gender
    if gender != "Both":
        df = df[df['actor_gender'] == gender]
    
    # Calculer les distributions d'âges
    age_distribution, bins = np.histogram(df['age_at_release'], bins=range(0, 105, 5), density=True)
    return age_distribution, bins

# Fonction pour récupérer la distribution de la population réelle
def get_realworld_age_distribution(period, gender):
    if gender == "Male":
        realworld_data = male_hollywood_realworld_averages
    elif gender == "Female":
        realworld_data = female_hollywood_realworld_averages
    else:  # Both
        realworld_data = bothsexes_hollywood_realworld_averages

    # Extraire la ligne correspondant à la période
    if period == "All":
        # Moyenne uniquement sur les colonnes numériques
        distribution = realworld_data.select_dtypes(include=[np.number]).mean(axis=0).values
    else:
        # Extraire la ligne correspondant à la période
        distribution = realworld_data.loc[period].select_dtypes(include=[np.number]).values

    # Normaliser la distribution
    normalized_distribution = distribution / distribution.sum()
    return normalized_distribution, realworld_data.columns[1:].astype(str)

# Fonction pour tracer les graphes comparatifs
def plot_age_distribution(period="All", genres="All", gender="Both"):
    # Obtenir la distribution des acteurs
    actor_distribution, actor_bins = calculate_actor_age_distribution(hollywood_data, period, genres, gender)

    # Obtenir la distribution réelle
    realworld_distribution, age_bins = get_realworld_age_distribution(period, gender)

    # Tracer les deux distributions
    fig, ax = plt.subplots(figsize=(10, 6))
    width = 2  # Largeur des barres

    # Distribution des acteurs
    ax.bar(
        actor_bins[:-1] + width / 2, 
        actor_distribution, 
        width=width, 
        color='blue', 
        label="Acteurs (Films)"
    )

    # Distribution réelle
    ax.bar(
        np.arange(0, 105, 5) + width / 2, 
        realworld_distribution, 
        width=width, 
        color='orange', 
        alpha=0.7, 
        label="Population réelle"
    )

    # Configurer le graphique
    ax.set_title(f"Comparaison des distributions d'âges ({gender}, Période: {period}, Genre: {genres})")
    ax.set_xlabel("Âge")
    ax.set_ylabel("Proportion normalisée")
    ax.set_xticks(np.arange(0, 105, 5))
    ax.set_xticklabels([f"{i}-{i+4}" for i in range(0, 100, 5)] + ["100+"])
    ax.legend()
    plt.tight_layout()
    plt.show()

# Interactif
interact(
    plot_age_distribution,
    period=["All", "1950-1965", "1966-1980", "1981-1995", "1996-2012"],  # Périodes temporelles
    genres=["All", "Action/Adventure", "Drama", "Comedy", "Thriller/Suspense", 
            "Horror", "Science Fiction (Sci-Fi)", "Fantasy", "Romance", 
            "Documentary", "Animation/Family"],  # Genres
    gender=["Both", "Male", "Female"]  # Genre des acteurs
)

interactive(children=(Dropdown(description='period', options=('All', '1950-1965', '1966-1980', '1981-1995', '1…